<mz-modal>
    <mz-modal-header>
        <h4>Usuwanie</h4>
    </mz-modal-header>
    <mz-modal-content>
        Czy potwierdzasz usunięie wybranego elementu.
    </mz-modal-content>
    <mz-modal-footer>
        <button class="btn waves-effect waves-teal" mz-button [flat]="true" mz-modal-close>Usuń</button>
    </mz-modal-footer>
</mz-modal>
