<mz-modal>
    <mz-modal-header>
        <h4>Złe hasło</h4>
    </mz-modal-header>
    <mz-modal-content>
        Hasło którego użyłeś do zalogowania nie jest poprawne. Wpisz poprawne hasło aby się zalogować lub skorzystaj z przypomnienia hasła.
    </mz-modal-content>
    <mz-modal-footer>
        <button class="btn waves-effect waves-teal" mz-button [flat]="true" mz-modal-close>Zamknij</button>
    </mz-modal-footer>
</mz-modal>
