<mz-sidenav
        [id]="'sidenav-demo'"
        [collapseButtonId]="'btn-sidenav'">
    <mz-sidenav-header>
        Sidenav header
    </mz-sidenav-header>
    <mz-sidenav-divider></mz-sidenav-divider>
    <mz-sidenav-link>
        <a class="waves-effect" [routerLink]="['admin/produkty']">Produkty</a>
    </mz-sidenav-link>
    <mz-sidenav-collapsible>
        <mz-sidenav-collapsible-header>
            Collapsible
        </mz-sidenav-collapsible-header>
        <mz-sidenav-collapsible-content>
            <mz-sidenav-link>
                <a class="waves-effect">First Link</a>
            </mz-sidenav-link>
            <mz-sidenav-link>
                <a class="waves-effect">Second Link</a>
            </mz-sidenav-link>
        </mz-sidenav-collapsible-content>
    </mz-sidenav-collapsible>
</mz-sidenav>
