<div class="row">
    <mz-card
            class="col s12 m8 offset-m2 l6 offset-l3"
            [horizontal]="true"
            [hoverable]="true">
        <mz-card-title>
            <div class="text-center">Nowe hasło</div>
        </mz-card-title>
        <mz-card-content>
            <form [formGroup]="newPasswordForm" (ngSubmit)="newPassword()" autocomplete="off">
                <mz-input-container>
                    <input mz-input mz-validation required
                           [label]="'Wpisz swoje hasło'"
                           [placeholder]="'Wpisz swoje hasło'"
                           [validate]="true"
                           [dataSuccess]="'Hasło jest uzupełnione'"
                           id="{{names.password}}"
                           length="255"
                           formControlName="password"
                           name="{{names.password}}"
                           [errorMessageResource]="errorMessages.password"
                           type="password">
                </mz-input-container>
                <mz-input-container>
                    <input mz-input mz-validation required
                           [label]="'Powtórz swoje hasło'"
                           [placeholder]="'Powtórz swoje hasło'"
                           [validate]="true"
                           [dataSuccess]="'Hasło jest powtórzone'"
                           id="{{names.repeatedPassword}}"
                           length="255"
                           formControlName="repeatedPassword"
                           name="{{names.repeatedPassword}}"
                           [errorMessageResource]="errorMessages.repeatedPassword"
                           type="password">
                </mz-input-container>
                <div class="text-center">
                    <button class="btn waves-effect waves-teal" mz-button [disabled]="!newPasswordForm.valid">Zmień hasło</button>
                </div>
            </form>
        </mz-card-content>
    </mz-card>
</div>
