<mz-modal>
    <mz-modal-header>
        <h4>Błąd rejestracji</h4>
    </mz-modal-header>
    <mz-modal-content>
        Adres mailowy którego próbujesz użyć do rejestracji istnieje już w serwisie. Nie możesz go użyć po raz drugi. Wprowadź inny adres mailowy do przeprowadzenia procesu rejestracji konta.
    </mz-modal-content>
    <mz-modal-footer>
        <button class="btn waves-effect waves-teal" mz-button [flat]="true" mz-modal-close>Zamknij</button>
    </mz-modal-footer>
</mz-modal>
