<div class="row">
    <mz-card
            class="col s12 m8 offset-m2 l6 offset-l3"
            [horizontal]="true"
            [hoverable]="true">
        <mz-card-title>
            <div class="text-center">Hasło zmienione</div>
        </mz-card-title>
        <mz-card-content>
            <p>Hasło zostało pomyślnie zmienione. Możesz teraz przejść do strony logowania i zalogować sie za pomocą nowego hasła.</p>
        </mz-card-content>
    </mz-card>
</div>
