<mz-modal>
    <mz-modal-header>
        <h4>Błędny kod</h4>
    </mz-modal-header>
    <mz-modal-content>
        Kod resetujący w linku jest niepoprawny. Nie można przez to ustawić nowego hasła. Przejdź przez proces resetowania hasła ponownie aby otrzymać aktualny kod i móc wprowadzić nowe hasło do konta.
    </mz-modal-content>
    <mz-modal-footer>
        <button class="btn waves-effect waves-teal" mz-button [flat]="true" mz-modal-close>Zamknij</button>
    </mz-modal-footer>
</mz-modal>
