<div class="row">
    <mz-card
            class="col s12 m8 offset-m2 l6 offset-l3"
            [horizontal]="true"
            [hoverable]="true">
        <mz-card-title>
            <div class="text-center">Rejestracja</div>
        </mz-card-title>
        <mz-card-content>
            <form [formGroup]="registerForm" (ngSubmit)="register()" autocomplete="off">
                <mz-input-container>
                    <input mz-input mz-validation required
                           [label]="'Wpisz swój adres mailowy'"
                           [placeholder]="'Wpisz swój adres mailowy'"
                           [validate]="true"
                           [dataError]="'Wpisz poprawny adres email'"
                           [dataSuccess]="'Mail jest prawidłowy'"
                           id="{{names.email}}"
                           length="255"
                           type="text"
                           formControlName="email"
                           name="{{names.email}}">
                </mz-input-container>
                <mz-input-container>
                    <input mz-input mz-validation required
                           [label]="'Wpisz swoje hasło'"
                           [placeholder]="'Wpisz swoje hasło'"
                           [validate]="true"
                           [dataSuccess]="'Hasło jest uzupełnione'"
                           id="{{names.password}}"
                           length="255"
                           formControlName="password"
                           name="{{names.password}}"
                           [errorMessageResource]="errorMessages.password"
                           type="password">
                </mz-input-container>
                <mz-input-container>
                    <input mz-input mz-validation required
                           [label]="'Powtórz swoje hasło'"
                           [placeholder]="'Powtórz swoje hasło'"
                           [validate]="true"
                           [dataSuccess]="'Hasło jest powtórzone'"
                           id="{{names.repeatedPassword}}"
                           length="255"
                           formControlName="repeatedPassword"
                           name="{{names.repeatedPassword}}"
                           [errorMessageResource]="errorMessages.repeatedPassword"
                           type="password">
                </mz-input-container>
                <mz-checkbox-container class="rules-checkbox">
                    <input mz-checkbox mz-validation required
                           [label]="'Akceptuję regulamin'"
                           [placeholder]="'Akceptuję regulamin'"
                           id="rules-checkbox"
                           type="checkbox"
                           formControlName="rulesCheckbox">
                    <a [routerLink]="['/regulamin']"> Czytaj</a>
                </mz-checkbox-container>
                <div class="text-center">
                    <button class="btn waves-effect waves-teal" mz-button [disabled]="!registerForm.valid">Rejestruj</button>
                    <div><a [routerLink]="['/reset-hasla']">Resetowanie hasła</a></div>
                </div>
            </form>
        </mz-card-content>
    </mz-card>
</div>
