<div class="row">
    <mz-card
            class="col s12 m8 offset-m2 l6 offset-l3"
            [horizontal]="true"
            [hoverable]="true">
        <mz-card-title>
            <div class="text-center">Potwierdzenie maila</div>
        </mz-card-title>
        <mz-card-content>
            <div class="text-center">
                <mz-spinner *ngIf="!status"
                            [color]="'blue'"
                            [size]="'big'">
                </mz-spinner>
            </div>
            <p *ngIf="status=='error'" class="error">Błędny kod potwierdzający. Aby poprawnie zarejestrować konto musisz podać
                prawidłowy kod aktywacyjny w linku.</p>
            <p *ngIf="status=='success'">Pomyślnie aktywowano konto możesz teraz przejść do logowania.</p>
            <p *ngIf="status=='account-exists'">Konto już jest aktywowane. Przejdź do logowania aby móc z niego korzystać.</p>
        </mz-card-content>
    </mz-card>
</div>
