<mz-modal>
    <mz-modal-header>
        <h4>Konto nie istnieje</h4>
    </mz-modal-header>
    <mz-modal-content>
        Konto na które próbujesz się zalogować nie istnieje w serwisie. Zmień adres mailowy na taki który przeszedł proces rejestracji.
    </mz-modal-content>
    <mz-modal-footer>
        <button class="btn waves-effect waves-teal" mz-button [flat]="true" mz-modal-close>Zamknij</button>
    </mz-modal-footer>
</mz-modal>
