<div class="row">
    <mz-card
            class="col s12 m8 offset-m2 l6 offset-l3"
            [horizontal]="true"
            [hoverable]="true">
        <mz-card-title>
            <div class="text-center">Wysłano link resetujący</div>
        </mz-card-title>
        <mz-card-content>
            <p>Aby dokończyc proces zmiany hasła musisz przejść do swojej skrzynki pocztowej i kliknąć w link który przeniesie Ciebie do strony na której wprowadzisz nowe hasło do serwisu.</p>
        </mz-card-content>
    </mz-card>
</div>
