<div class="row">
    <mz-card
            class="col s12 m8 offset-m2 l6 offset-l3"
            [horizontal]="true"
            [hoverable]="true">
        <mz-card-title>
            <div class="text-center">Zarejestrowano</div>
        </mz-card-title>
        <mz-card-content>
            <p>Aby dokończyć proces rejestracji przejdź do swojej skrzynki mailowej i otwórz maila z serwisu RedAction aby kliknąć w link potwierdzający. Po dokończeniu rejestracji będziesz mógł przejść do logowania aby swobodnie korzystać z serwisu. Jeżeli mail nie wyświetlił Ci się w skrzynce przejdź do zakładki spam aby sprawdzić czy nie został on uznany za spam.</p>
        </mz-card-content>
    </mz-card>
</div>
