<div class="row">
    <mz-card
            class="col s12 m12 l6"
            [horizontal]="true"
            [hoverable]="true">
        <mz-card-title>
            Dane podstawowe
        </mz-card-title>
        <mz-card-content>
            <form [formGroup]="productForm" (ngSubmit)="save()" autocomplete="off">
                <mz-input-container>
                    <input mz-input mz-validation required
                           [label]="'Wpisz kod SKU produktu'"
                           [placeholder]="'Wpisz kod SKU produktu'"
                           [validate]="true"
                           [dataError]="'Wpisz poprawne SKU'"
                           [dataSuccess]="'SKU jest prawidłowe'"
                           id="sku"
                           length="255"
                           type="text"
                           formControlName="sku"
                           name="sku">
                </mz-input-container>
                <mz-input-container>
                    <input mz-input mz-validation required
                           [label]="'Wpisz nazwę produktu'"
                           [placeholder]="'Wpisz nazwę produktu'"
                           [validate]="true"
                           [dataError]="'Wpisz poprawną nazwę'"
                           [dataSuccess]="'Nazwa jest prawidłowa'"
                           id="name"
                           length="255"
                           type="text"
                           formControlName="name"
                           name="name">
                </mz-input-container>
                <div class="text-center">
                    <button class="btn waves-effect waves-teal" mz-button [disabled]="!productForm.valid">Zapisz</button>
                </div>
            </form>
        </mz-card-content>
    </mz-card>
    <mz-card
            class="col s12 m12 l6"
            [horizontal]="true"
            [hoverable]="true">
        <mz-card-title>
            Zdjęcia
        </mz-card-title>
        <mz-card-content>
            <input style="display: none"
                   type="file" (change)="onFileChanged($event)"
                   #fileInput>
            <button (click)="fileInput.click()">Select File</button>
        </mz-card-content>
    </mz-card>
</div>
