<mz-modal>
    <mz-modal-header>
        <h4>Konto nie istnieje</h4>
    </mz-modal-header>
    <mz-modal-content>
        Konto dla którego próbujesz uzyskać maila z linkiem do resetowania hasła nie istnieje. Wpisz poprawny adres mailowy aby móc zresetować hasło do serwisu.
    </mz-modal-content>
    <mz-modal-footer>
        <button class="btn waves-effect waves-teal" mz-button [flat]="true" mz-modal-close>Zamknij</button>
    </mz-modal-footer>
</mz-modal>
