<div class="row">
    <mz-card
            class="col s12 m8 offset-m2 l6 offset-l3"
            [horizontal]="true"
            [hoverable]="true">
        <mz-card-title>
            <div class="text-center">Logowanie</div>
        </mz-card-title>
        <mz-card-content>
            <form [formGroup]="loginForm" (ngSubmit)="login()" autocomplete="off">
                <mz-input-container>
                    <input mz-input mz-validation required
                           [label]="'Wpisz swój adres mailowy'"
                           [placeholder]="'Wpisz swój adres mailowy'"
                           [validate]="true"
                           [dataError]="'Wpisz poprawny adres email'"
                           [dataSuccess]="'Mail jest prawidłowy'"
                           id="{{names.email}}"
                           length="255"
                           type="text"
                           formControlName="email"
                           name="{{names.email}}">
                </mz-input-container>
                <mz-input-container>
                    <input mz-input mz-validation required
                           [label]="'Wpisz swoje hasło'"
                           [placeholder]="'Wpisz swoje hasło'"
                           [validate]="true"
                           [dataSuccess]="'Hasło jest uzupełnione'"
                           id="{{names.password}}"
                           length="255"
                           formControlName="password"
                           name="{{names.password}}"
                           [errorMessageResource]="errorMessages.password"
                           type="password">
                </mz-input-container>
                <div class="text-center">
                    <button class="btn waves-effect waves-teal" mz-button [disabled]="!loginForm.valid">Logowanie</button>
                    <div><a [routerLink]="['/reset-hasla']">Resetowanie hasła</a></div>
                </div>
            </form>
        </mz-card-content>
    </mz-card>
</div>
