body {
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

a,
a:focus,
a:active,
a:hover {
    text-decoration: none;
    outline: none;
    color: #039be5 !important;
}

mz-card-title {
    margin-bottom: 35px;
    display: block;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

[type="checkbox"] + label:before, [type="checkbox"]:not(.filled-in) + label:after {
    border: 2px solid #9e9e9e;
}

mz-card {
    border: 1px solid #ccc;
}

button,
button:active,
button:hover,
button:focus {
    background: transparent !important;
    border: 1px solid #ccc !important;
    color: #333 !important;
}

mz-collapsible-item-header {
    width: 100%;
}

mz-collapsible .row {
    margin-bottom: 0;
}

.table{

}

.table .row {
    margin: 0px;
    border-bottom: 1px solid #ccc;
}
