<div class="row">
    <a [routerLink]="['/admin/produkt/dodaj']">
        <button class="btn waves-effect waves-teal" mz-button>Dodaj produkt</button>
    </a>
</div>
<div class="row">
    <div class="table products">
        <div class="product row" *ngFor="let product of products; let index = index">
            <div class="col s4">{{product.sku}}</div>
            <div class="col s6">{{product.name}}</div>
            <div class="col s2 text-right">
                <a href="/admin/produkt/{{product.id}}/edycja"> Edycja</a>
                <a (click)="delete(product)"> Usuń</a>
            </div>
        </div>
    </div>
    <h5 *ngIf="!products||(products.length==0)">Brak produktów do wyświetlenia</h5>
</div>
