<mz-navbar navbarClass="white">
    <div class="container">
        <mz-navbar-item-container [align]="'left'">
            <mz-navbar-item><a id="btn-sidenav"><i mz-icon-mdi [icon]="'menu'"></i></a></mz-navbar-item>
        </mz-navbar-item-container>
        <mz-navbar-item-container [align]="'right'">
            <mz-navbar-item *ngIf="!user.logged"><a [routerLink]="['/logowanie']"><i mz-icon-mdi [icon]="'account-arrow-left'"></i></a></mz-navbar-item>
            <mz-navbar-item *ngIf="!user.logged"><a [routerLink]="['/rejestracja']"><i mz-icon-mdi [icon]="'account-plus'"></i></a></mz-navbar-item>
            <mz-navbar-item *ngIf="user.logged"><a [routerLink]="['/konto']"><i mz-icon-mdi [icon]="'account'"></i></a></mz-navbar-item>
            <mz-navbar-item *ngIf="user.logged"><a (click)="logout()"><i mz-icon-mdi [icon]="'logout-variant'"></i></a></mz-navbar-item>
        </mz-navbar-item-container>
    </div>
</mz-navbar>
